#about {
    text-align: justify;
    font-size: 20px;
    font-weight: 550;
}

#about-div {
    background-color:  #Cd00f3;
    padding: 15px 30px;
    border-radius: 15px;
    position: absolute;
    left: 650px;
    top: 480px;
    margin-right: 70px;
}

#about-div h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

#image {
    position: absolute;
    left: 70px;
    top: 420px;

}

#sec_2, #sec_3 {
    margin-left: 50px;
    font-size: 1.4em;
}

#sec_1 {
    height: 600px;
    margin-bottom: 90px;
    margin-top: 100px;
}

#header {
    background-color: #Cd00f3;
    font-weight: 600;
    font-size: 23px;
    padding: 25px 50px;
    margin: 0px;
    /* border-bottom: 5px solid black; */
}

#indie-list {
    padding: 10px;
    column-gap: 75px;
    column-count: 4;
}

#indie-list a {
    display: flex;
    width: max-content;
    padding: 15px 30px;
    background-color: #0a7e51;
    border-radius: 8px;
}

#indie {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

#name {
    text-align: center;
}

.indie-cont{
    background-color: #0a7e51;
    text-align: center;
    width: 200px;
}

h1 {
    font-size: 40px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(221, 185, 250);
}

a {
    color: black;
    text-decoration: none;
    margin: 0px;
}

#my_img {
    border-radius: 300px;
}